@import "./mixins";

$time: 1s;

.topbar {
  padding: 20px 40px;
  align-items: center;
  background-color: #0c0915;
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  height: 87px;
  transition: all $time ease-in-out;
  border-bottom: solid 2px #000000;

  .header-container {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;

    .logo {
      // width: 300px;
      font-size: 18px;
      margin: 10px 0;
      transition: all calc($time - 0.4s) ease-in-out;
      position: absolute;
      color: #ffffff;
      top: 0;
      left: 2%;
      font-weight: 600;
      font-family: "Poppins", sans-serif;

      .json-logo {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 0%;
        left: -40px;
        display: block;
        transition: all calc($time - 0.3s) ease;
      }

      .para {
        position: absolute;
        margin-top: 20px;
        display: none;
        opacity: 0;
        font-size: 16px;
        font-family: "Inter", sans-serif;
        width: 90%;
        color: #919191;
      }
    }

    // .logo-ani {
    //   top: 30%;
    //   left: 36%;
    //   font-size: 30px;
    // }

    .switch {
      // width: 100px;
      transition: all $time ease-in-out;
    }

    .route-select {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: baseline;
      gap: 4px;
      transition: all calc($time - 0.5s) ease-in-out;
      left: 50%;
      position: absolute;
      top: 0;

      .jsonstring-btn,
      .jsoncomparer-btn,
      .mapper-btn {
        @include button();
        transition:
          height calc($time - 0.5s) ease-in-out,
          width calc($time - 0.5s) ease-in-out,
          background-color 0.2s ease;
      }
    }
  }
}

.topbar-fullmode {
  height: 80%;

  .header-container {
    // height: 80% !important;

    .logo {
      top: 30%;
      left: 36%;
      font-size: 55px;
      position: absolute;
      width: 60%;

      .json-logo {
        height: 200px;
        width: 200px;
        position: absolute;
        top: 0%;
        left: -250px;
        display: block;
      }

      .para {
        margin-top: 10px;
        display: block;
        opacity: 1;
        width: 100%;
        color: #7951c4;
        // display: block;
        // opacity: 1;
      }
    }

    .route-select {
      gap: 20px;
      top: 70%;
      left: 35%;
      position: absolute;

      .jsonstring-btn,
      .jsoncomparer-btn,
      .mapper-btn {
        @include homescreen-btn;
      }
    }
  }
}
