@mixin fullflex {
  display: flex;
  height: 100%;
  width: 100%;
}

@mixin button($color: #3f1797, $hovercolor: #6037b8, $fit: 140px) {
  background-color: $color;
  color: #dddddd;
  width: $fit;
  height: 40px;
  border-radius: 5px;
  padding: 0 20px;
  display: flex;
  margin: 8px;
  border: none;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  &:hover {
    color: #e8e8e8;
    background-color: $hovercolor;
  }
}

@mixin homescreen-btn {
  height: 100px;
  width: 200px;
  padding: auto;
  background-color: #1b192c;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 20px;

  &:hover {
    color: #ffffff;
    box-shadow: none;
    background-color: #3f1797;
    border: none;
  }
}
