@import "./variables";

@mixin fullflex {
  display: flex;
  height: 100%;
  width: 100%;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button($color: $main-clr, $hovercolor: $main-hover-clr, $fit: 140px) {
  height: 40px;
  border-radius: 5px;
  padding: 0 20px;
  display: flex;
  margin: 8px;
  border: none;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  background-color: $color;
  color: #dddddd;
  width: $fit;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  &:hover {
    color: #e8e8e8;
    background-color: $hovercolor;
  }
}

@mixin config-btn($fit: fit-content) {
  padding-top: 4px;
  padding-bottom: 4px;
  height: fit-content;
  width: $fit;
}

@mixin homescreen-btn {
  height: 100px;
  width: 200px;
  padding: auto;
  background-color: #1b192c;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 20px;

  &:hover {
    color: #ffffff;
    box-shadow: none;
    background-color: $main-clr;
    border: none;
  }
}
