@import "./mixins";

.section {
  // padding: calc(87 + 10) px 10px (35+10) px 10px;
  padding: 97px 10px 35px 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  // margin-bottom: 25px;
  caret-color: #ffffff;

  #codebox {
    width: 60%;
    height: 100%;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    // box-shadow:
    //   0 2px 2px 0 rgba(#000, 0.14),
    //   0 1px 5px 0 rgba(#000, 0.12),
    //   0 3px 1px -2px rgba(#000, 0.2);

    .codeflask {
      // width: 50%;
      height: 100%;
      position: relative;
      border-radius: 3px;

      &::before,
      .codeflask__lines {
        background: #272727;
        color: #ffffff;
      }
    }
    .codeflask__textarea {
      caret-color: #ffffff;
    }

    .codeflask {
      background: #222222;
      // background: #ffffff;
      color: #abb1f5;
      padding-right: 0;
      caret-color: #ffffff;
    }
    .codeflask__code,
    .codeflask__textarea,
    .codeflask__lines {
      // caret-color: #ffffff;
      // line-height: 18px;
      // font-size: 14px !important;
    }

    .codeflask .token.punctuation {
      color: #a0a0a0;
    }

    .codeflask .token.keyword {
      color: #ad85d1;
    }

    .codeflask .token.operator {
      color: #ff5598;
    }

    .codeflask .token.string {
      color: #51b0d5;
    }

    .codeflask .token.comment {
      color: #9badb7;
    }

    .codeflask .token.function {
      color: #8500ff;
    }

    .codeflask .token.boolean {
      color: #8500ff;
    }

    .codeflask .token.number {
      color: #b464ff;
    }

    .codeflask .token.selector {
      color: #8500ff;
    }

    .codeflask .token.property {
      color: #8500ff;
    }

    .codeflask .token.tag {
      color: #8500ff;
    }

    .codeflask .token.attr-value {
      color: #8500ff;
    }
  }

  // .input-textbox {
  //   height: 100%;
  //   width: 100%;
  //   display: flex;

  //   .text-area {
  //   }
  // }

  .sidebar {
    width: 500px;
    display: flex;
    height: 100%;
    min-width: 300px;
    flex-direction: column;

    .text-area {
      background-color: rgb(37, 37, 37);
      color: #9badb7;
      resize: none;
      flex: 1;
      height: 100%;
      padding: 10px;
      font-size: 15px;
      border: none;

      &:active,
      &:focus {
        border: none;
        outline: none;
      }
    }

    button {
      @include button(#ffffff, #a5afe9, fit-content);
    }
  }
}
